 td, th {  
    border: 3px solid #000000;
    text-align: left;

  }
 
  
  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
 td {
    padding: 15px;
  }
  th{
    
    padding: 15px;
  }
  input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .labe{

  }
  
  input[type=submit] {
    width:  50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    width:  50%;
    background-color: #45a049;
  }
  
